In [1]:
#import the Random Forest Model
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from pickle import dump, load
import pandas as pd
import numpy as np
import random
import csv
import os

In [7]:
# Set file path to the cleaned data csv from data cleanup process
file = "../data.csv"

# Read to a df
data_df = pd.read_csv(file)
# data_df.head()

In [8]:
# Load the Iris Dataset
iris = load_iris()
# print (iris.DESCR)

In [9]:
#set the target varible
#column with the correct answser
X = data_df.drop("income", axis=1)
y = data_df["income"]
# target_names= [">=50","<=50"]
print(X.shape, y.shape)

(32561, 14) (32561,)

In [10]:
#set the seature names to the column header
feature_names = data_df.columns
data_df.head()

,age,workclass,fnlwgt,education,education_number,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
#binary encode the fields
X = pd.get_dummies(X)
X.head()

,age,fnlwgt,education_number,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X.shape

(32561, 108)

In [13]:
#import train_test_Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
y_train[0]

' <=50K'

In [14]:
X_test.head()
#save the dataset for random selector 
df = pd.DataFrame(X_test)
df.to_csv('../dataset2.csv',index=True)

In [ ]:
#import the RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

           As we can see the RandomForestClassifier has about 86% of accuracy. This is a very good indicator of a good model. On the next steps, we will prioritize the features based on the importance in order to investigate which feature was the greatest indicator of income that is 
           above 50,000 dollars or below 50,000 dollars.

In [ ]:
#save as csv and use it for input demo
# input_testdata = X_test.loc[14160].to_frame()

#user input example
input_14260 = X_test.loc[14160]
input_30339 = X_test.loc[30339]
input_8610 = X_test.loc[8610]

In [ ]:
#array for the reshape
input_14260 = [np.array(input_14260)]
input_30339 = [np.array(input_30339)]
input_8610 = [np.array(input_8610)]

In [ ]:
#check to see if the input values as an array
#array for the reshape
#input_14260 
#input_30339
input_8610

In [ ]:
#predict input options 1-3
predction = rf.predict(input_14260)
print(f'Your income predction is{predction[0]}')

In [ ]:
#predict input options 1-3
predction = rf.predict(input_30339 )
print(f'Your income predction is{predction[0]}')

In [ ]:
featuresPriority = sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [ ]:
featuresPriority

In [ ]:
featuresPriority
labels = []
values = []

for i in range(0, len(featuresPriority)): 
       values.append(featuresPriority[i][0])
       labels.append(featuresPriority[i][1])

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize= (12,6))
ax.bar(labels, values)
plt.xticks(rotation = 45)
plt.ylabel(" Percentage of Accuracy In Income Prediction",  fontsize=12)
plt.xlabel("Features that Contribute to Income Prediction",  fontsize=12)
plt.title ("Features that Predict Income greater than or less than 50K ")

plt.show()






#plt.bar(x = labels, height=values)

In [ ]:
#X is the data binaryencoded
X.head()

In [ ]:
# Define the scaling function 
# from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
# Fit the scaling function to the training set
scaler.fit(X_train)

In [ ]:
# Transform the training set
X_train_scaled = scaler.transform(X_train)
X_train_scaled

In [ ]:
# Define the label encoder and fit it to the training set
# from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

In [ ]:
# Transform the labels of the training set
y_train_encoded = label_encoder.transform(y_train)
y_train_encoded

In [ ]:
# Define the model
randomforest = RandomForestClassifier()

In [ ]:
# Fit the model to the scaled / encoded training set
randomforest.fit(X_train_scaled, y_train_encoded)

In [ ]:
# Save the model to a pickle file (i.e., "pickle it")
# so we can use it from the Flask server. 
dump(randomforest, open('randomforest.pkl', 'wb'))

In [ ]:
# Save the scaling function to a pickle file (i.e., "pickle it")
# so we can use it from the Flask server. 
dump(scaler, open('scaler.pkl', 'wb'))

In [2]:
prediction_labels = [">=50","<=50"]

In [3]:
# Load the model.
randomforest = load(open('../randomforest.pkl', 'rb'))

In [4]:
# Load the scaler.
scaler = load(open('../scaler.pkl', 'rb'))

In [ ]:
#saving inputs to cvs for a later use
# df_input_14260 = pd.DataFrame(input_14260)
# df_input_14260.to_csv('input_14260.csv')

In [52]:
#random selection of one X_test dataset in a csv file

with open('../dataset2.csv') as f:
    reader = csv.reader(f)
    chosen_row = random.choice(list(reader))
    print(f'Index: {chosen_row}')
    print()
    
    chosen_row_float = [float(x) for x in chosen_row[1:] ]
    print(f'No index: {chosen_row_float}')
    print()
    
    index_num = chosen_row[0]
    print(index_num)

    chosen_row_reshape = [np.array(chosen_row_float)]
#     print(f'Reshaped: {chosen_row_reshape}')
    
#     populate_table = chosen_row[0:7]
#     print(populate_table)

    prediction_scaled = scaler.transform(chosen_row_reshape)
#     print()
#     print(f'Scaled prediction: {prediction_scaled}')
    
    #compare lists
#     set_dif = set(chosen_row) - set(chosen_row_float)
#     print(set_dif)
#     list_dif = list(set_dif)
#     print(list_dif)
#     print()
#     print(list_dif[1])

Index: ['9098', '25', '234263', '13', '0', '0', '40', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0']

No index: [25.0, 234263.0, 13.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]

9098

In [ ]:
#copied thise values from input_14260,30339,8610
# prediction1 = [[27,160178,10,0,0,38,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]]

# prediction2 = [[50,175804,13,0,0,40,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]]

# prediction3 = [[24,322931,4,0,1902,40,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]]

In [ ]:
prediction1_scaled = scaler.transform(prediction3)

In [ ]:
# prediction1_scaled = scaler.transform(prediction1)
# prediction2_scaled = scaler.transform(prediction2)
# prediction3_scaled = scaler.transform(prediction3)

In [ ]:
predict = randomforest.predict(prediction2_scaled)
print(f'Your income predction is {prediction_labels[predict[0]]}')

In [54]:
print('"\" is the backslash')

"" is the backslash